.CardItem__container {
  border-radius: 10px;
  /* padding: 15px; */
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.CardItem__header {
  padding: 15px;
}

.CardItem__name {
  margin-top: 10px;
  text-align: left;
  margin: 0;
  font-size: larger;
}

.CardItem__imageContainer {
  overflow: hidden;
  position: relative;
  height: 50%;
  border-radius: 10px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.CardItem__containerRight {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 100px;
  background-color: #e99654;
}

.CardItem__containerEmission {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin-top: 0;
}

.CardItem__time {
  padding-left: 2em;
  font-family: "Quicksand", sans-serif;
}
