.SearchFieldForm__header {
  font-weight: bold;
  color: antiquewhite;
  font-size: 5.5em;
  margin-left: 1em;
}

.SearchFieldForm__container {
  background-image: url("../../public/travel_img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 25em;
}

.SearchFieldForm__searchBar {
  background-color: #02122c;
  width: auto;
  height: 7.5em;
}

.SearchFieldForm__searchBarContainer {
  padding-top: 1.2em;
  display: flex;
  padding-left: 7em;
}

.SearchFieldForm__searchBarTextAreaContainerFrom > textarea {
  resize: none;
  width: fit-content;
  height: 3em;
  font-size: 1em;
  margin-left: 0.4em;
}

.SearchFieldForm__searchBarTextAreaContainerFrom > label {
  color: antiquewhite;
  display: block;
  font: bold;
}

.SearchFieldForm__searchBarTextAreaContainerTo > textarea {
  resize: none;
  width: fit-content;
  height: 3em;
  font-size: 1em;
  margin-left: 0.4em;
}

.SearchFieldForm__searchBarTextAreaContainerTo > label {
  display: block;
  color: antiquewhite;
  font: bold;
}

.SearchFieldForm__searchBarDateContainerDeparture {
  margin-left: 0.4em;
}

.SearchFieldForm__searchBarDateContainerArrival {
  margin-left: 0.4em;
}

.SearchFieldForm__searchBarSearchButton {
  font: bold;
  width: fit-content;
  height: 3em;
  font-size: 1em;
  margin-left: 0.4em;
}
